
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Cinzel;
    src: url(../font/Cinzel/Cinzel-VariableFont_wght.ttf);
    font-style: regular;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Regular.ttf);
    font-style: regular;
}

header h3 {
    color: #999;
    font-family: Cinzel;
    font-weight: 500;
    line-height: 25px;
    margin: 15px 25px 25px 40px;
}

section.background {
    background-image: url(../img/background\ home.avif);
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 70px;
}

h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}

section h3 {
    font-family: Cinzel;
    font-weight: 500px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-family: Poppins;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
    color: #333;
}

article {
    margin-left: 200px;
}

article img{
    margin: 40px 40px 80px 0px;
    display: inline-block;
    width: 350px;
}


ul {
    font-family: Poppins;
    text-align: left;
    margin-left: 200px;
    color: #333;
    margin-bottom: 70px;
}

li {
    margin: 20px 20px 20px 20px;
    list-style-type: none;
}

footer {
    background-color: lightgray;
}

a {
    text-decoration: none;
    padding-right: 100px;
    padding-left: 10px;
    color: #333;
    display: inline-block;
}

.contact {
    text-align: center;
    margin-bottom: 20px;
    font-family: Cinzel;
    padding-top: 20px;
    font-size: 20px;
}

.socialmedia {
    text-align: center;
    margin-right: 120px;
    margin-bottom: 0;
}

.socialmedia li{
    display: inline-block;
}

li a img{
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    margin-left: 0;
}

span.red {
    color: red;
}

span.green {
    color: green;
}